/* Take care of image borders and formatting */

img {
    max-width: 600px;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}

a {
    text-decoration: none;
    border: 0;
    outline: none;
    color: #bbbbbb;
}

a img {
    border: none;
}

/* General styling */

td, h1, h2, h3  {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

td {
    text-align: center;
}

body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%;
    height: 100%;
    color: #37302d;
    background: #ffffff;
    font-size: 16px;
    line-height: 1.42857143;
}

 table {
    border-collapse: collapse !important;
}


.top-wrapper {
  background-color: #212121;
  border-bottom: 10px solid;  
  border-bottom-color: #C82506;
}

.headline {
    color: #333;
    font-size: 36px;
    padding: 20px 0px 0px 0px;
    }

.sub-headline {
  color: #333;
  font-size:20px; 
  padding: 0px 0px 20px 0px;
}
.email-headline {
    color: #333;
    font-size: 30pt;
    padding: 20px 0px 0px 0px;
    }

.email-sub-headline {
  color: #333;
  font-size:18pt; 
  padding: 0px 0px 20px 0px;
}


.left-column-text {
  padding: 20px 0px 0px 0px;
  font-size: 16px;
  text-align: left;
}

.right-column-form {
  padding: 0px 40px 40px 50px;
  text-align: left;
}

.email-body {
  font-size: 14pt;
padding: 30px 0px 30px 0px;
}

.force-full-width {
    width: 100% !important;
}


.force-width-80 {
    width: 80% !important;
}

@media screen {
     /*Thanks Outlook 2013! http://goo.gl/XLxpyl*/
    td, h1, h2, h3 {
        font-family: 'Lato' !important;
    }
}

/* Mobile styles */
@media only screen and (max-width: 800px) {

  body {font-size: 200%;}
  table[class="w320"] {
        width: 100% !important;
        
    }

    td[class="mobile-block"] {
        width: 100% !important;
        display: block !important;
        font-size: 200%;
    }

}
