<!DOCTYPE html>


<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{subject}</title>
    <!--
    An email present from your friends at Litmus (@litmusapp)
    Email is surprisingly hard. While this has been thoroughly tested, your mileage may vary.
    It's highly recommended that you test using a service like Litmus (http://litmus.com) and your own devices.
    Enjoy!
 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
      /* CLIENT-SPECIFIC STYLES */
           /* Prevent WebKit and Windows mobile changing default text sizes */
           /* Allow smoother rendering of resized image in Internet Explorer */
          /* iOS BLUE LINKS */
          a[x-apple-data-detectors] {
              color: inherit !important;
              text-decoration: none !important;
              font-size: inherit !important;
              font-family: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
          }
          /* MOBILE STYLES */
          @media screen and (max-width: 525px) {
              .wrapper {
                width: 100% !important;
              	max-width: 100% !important;
              }
              /* ADJUSTS LAYOUT OF LOGO IMAGE */
              .logo img {
                margin: 0 auto !important;
              }
              /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
              .mobile-hide {
                display: none !important;
              }
              .img-max {
                max-width: 100% !important;
                width: 100% !important;
                height: auto !important;
              }
              /* FULL-WIDTH TABLES */
              .responsive-table {
                width: 100% !important;
              }
              .padding {
                padding: 10px 5% 15px 5% !important;
              }
              .padding-meta {
                padding: 30px 5% 0px 5% !important;
                text-align: center;
              }
              .no-padding {
                padding: 0 !important;
              }
              .section-padding {
                padding: 50px 15px 50px 15px !important;
              }
              /* ADJUST BUTTONS ON MOBILE */
              .mobile-button-container {
                  margin: 0 auto;
                  width: 100% !important;
              }
              .mobile-button {
                  padding: 15px !important;
                  border: 0 !important;
                  font-size: 16px !important;
                  display: block !important;
              }
          }
          /* ANDROID CENTER FIX */
    </style>
        <style type="text/css" media="only screen and (max-width: 480px)">
        /* Mobile styles */
        @media only screen and (max-width: 480px) {
            table[class="w320"] {
                width: 320px !important;
            }
            td[class="mobile-block"] {
                width: 100% !important;
                display: block !important;
            }
        }
    </style>
    
    
    
  </head>
  <body style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;height:100% !important;margin:0 !important;padding:0 !important;width:100% !important;margin: 0 !important; padding: 0 !important;">

    {# HEADER  - change comments to TWIG format #}

  <div data-section-wrapper>
    <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
      <tr>
        <td bgcolor="#333333" align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
          <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
              <tr>
                <td align="center" valign="top" width="500">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width: 500px;" class="wrapper" data-section>
            <tr>
              <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 15px 0;" class="logo" data-slot-container>
                {# update the URL here #}
                <div data-slot="text">
                  <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/cool-logo.png', null, null, true) }}" style="float: left; margin: 20px 20px 20px 20px;" height="34" alt="cool logo"></a>
                </div>
             </td>
            </tr>
          </table>
          <!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
      </table>
          <![endif]-->
        </td>
      </tr>
    </table>
  </center>
  </div>
   <div data-section-wrapper>
    <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">   
      <tr>
        <td bgcolor="#ffffff" align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 70px 15px 70px 15px;" class="section-padding">
          <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
              <tr>
                <td align="center" valign="top" width="500">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width: 500px;" class="responsive-table">
            <tr>
              <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <!-- HERO IMAGE -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;" data-section>
                  <tr>
                    <td class="padding" align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" data-slot-container>
                     {# update the URL here #}
                      <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <div data-slot="text">
                        <img src="{{ getAssetUrl('themes/'~template~'/img/hero-1.jpg', null, null, true) }}"  alt="Insert alt text here" style="width:500px height:400px;-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; color: #666666;  font-family: Helvetica, arial, sans-serif; font-size: 16px;" class="img-max" /></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                      <!-- COPY -->
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                        <tr>
                          <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding" data-slot-container>
                            <div data-slot="text">
                              The Latest News
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding" data-slot-container>
                            <div data-slot="text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum.
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                      <!-- BULLETPROOF BUTTON -->
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                        <tr>
                          <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top: 25px;" class="padding">
                            <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                              <tr>
                                <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-radius: 3px;" bgcolor="#256F9C" data-slot-container>
                                  <div data-slot="text">
                                    <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #256F9C; display: inline-block;" class="mobile-button">Learn More </a>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
      </table>
          <![endif]-->
        </td>
      </tr>
    </table>
  </center>
  </div>
  <div data-section-wrapper>
    <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">   
 
      <tr>
        <td bgcolor="#F5F7FA" align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 70px 15px 70px 15px;" class="section-padding" data-slot-container>
          <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
              <tr>
                <td align="center" valign="top" width="500">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width: 500px;" class="responsive-table">
            <tr>
              <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <!-- TITLE SECTION AND COPY -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                  <tr>
                    <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333;" class="padding" data-slot-container>
                      <div data-slot="text">
                        Around the Blog
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 20px 0 20px 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding" data-slot-container>
                      <div data-slot="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" height="100%" valign="top" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <!--[if (gte mso 9)|(IE)]>
                  <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                    <tr>
                      <td align="center" valign="top" width="500">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:500px;">
                  <tr>
                    <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:0;" class="padding">
                      <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                          <tr>
                            <td align="left" valign="top" width="240">
                      <![endif]-->
                      <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:240px;" class="wrapper">
                          <tr>
                            <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                <tr>
                                  <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 20px 0 30px 0;">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                      <tr>
                                        <td align="center" bgcolor="#F5F7FA" valign="middle" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" data-slot-container>
                                          <div data-slot="text">
                                            <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/news-1.jpg', null, null, true) }}" width="240" height="130" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 240px; height: 130px;" alt="Fluid images" border="0" class="img-max" /></a>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 15px 0 0 0;" bgcolor="#F5F7FA" data-slot-container>
                                          <div data-slot="text">
                                            <p style="font-family: Arial, sans-serif; color: #333333; font-size: 20px;">News Item</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;">Integer ut tempor lectus. Vivamus at gravida arcu.</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;" bgcolor="#F5F7FA"><a href="#" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;color: #256F9C; text-decoration: none;">Read More </a></p>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                      <td width="20" style="font-size: 1px;"> </td>
                      <td align="right" valign="top" width="240">
                      <![endif]-->
                      <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                       <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:240px;" class="wrapper">
                          <tr>
                            <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                <tr>
                                  <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 20px 0 30px 0;">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                      <tr>
                                        <td align="center" bgcolor="#F5F7FA" valign="middle" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" data-slot-container>
                                          <div data-slot="text">
                                            <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/news-2.jpg', null, null, true) }}" width="240" height="130" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 240px; height: 130px;" alt="Fluid images" border="0" class="img-max" /></a>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 15px 0 0 0;" bgcolor="#F5F7FA" data-slot-container>
                                          <div data-slot="text">
                                            <p style="font-family: Arial, sans-serif; color: #333333; font-size: 20px;">News Item</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;">Integer ut tempor lectus. Vivamus at gravida arcu.</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;" bgcolor="#F5F7FA"><a href="#" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;color: #256F9C; text-decoration: none;">Read More </a></p>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                    </tr>
                  </table>
                      <![endif]-->
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
                <![endif]-->
              </td>
            </tr>
            <tr>
              <td align="center" height="100%" valign="top" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <!--[if (gte mso 9)|(IE)]>
                  <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                    <tr>
                      <td align="center" valign="top" width="500">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:500px;">
                  <tr>
                    <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:0;" class="padding">
                      <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                          <tr>
                            <td align="left" valign="top" width="240">
                      <![endif]-->
                      <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:240px;" class="wrapper">
                          <tr>
                            <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                <tr>
                                  <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 20px 0 30px 0;">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                      <tr>
                                        <td align="center" bgcolor="#F5F7FA" valign="middle" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" data-slot-container>
                                          <div data-slot="text">
                                            <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/news-3.jpg', null, null, true) }}" width="240" height="130" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 240px; height: 130px;" alt="Fluid images" border="0" class="img-max" /></a>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 15px 0 0 0;" bgcolor="#F5F7FA" data-slot-container>
                                          <div data-slot="text">
                                            <p style="font-family: Arial, sans-serif; color: #333333; font-size: 20px;">News Item</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;">Integer ut tempor lectus. Vivamus at gravida arcu.</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;" bgcolor="#F5F7FA"><a href="#" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;color: #256F9C; text-decoration: none;">Read More </a></p>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                      <td width="20" style="font-size: 1px;"> </td>
                      <td align="right" valign="top" width="240">
                      <![endif]-->
                      <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                          <tr>
                            <td class="mso-right" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:240px; float: right;" class="wrapper">
                                <tr>
                                  <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                      <tr>
                                        <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 20px 0 30px 0;">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                      <tr>
                                        <td align="center" bgcolor="#F5F7FA" valign="middle" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" data-slot-container>
                                          <div data-slot="text">
                                            <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/news-4.jpg', null, null, true) }}" width="240" height="130" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 240px; height: 130px;" alt="Fluid images" border="0" class="img-max" /></a>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 15px 0 0 0;" bgcolor="#F5F7FA" data-slot-container>
                                          <div data-slot="text">
                                            <p style="font-family: Arial, sans-serif; color: #333333; font-size: 20px;">News Item</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;">Integer ut tempor lectus. Vivamus at gravida arcu.</p>
                                            <p style="font-family: Arial, sans-serif; color: #666666; font-size: 14px; line-height: 20px;" bgcolor="#F5F7FA"><a href="#" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;color: #256F9C; text-decoration: none;">Read More </a></p>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                    </tr>
                  </table>
                      <![endif]-->
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
                <![endif]-->
              </td>
            </tr>
          </table>
          <!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
      </table>
          <![endif]-->
        </td>
      </tr>
    </table>
  </center>
  </div>
   <div data-section-wrapper>
    <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">   

      <tr>
        <td bgcolor="#E6E9ED" align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 70px 15px 70px 15px;" class="section-padding">
          <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
              <tr>
                <td align="center" valign="top" width="500">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;padding-bottom: 20px; max-width: 500px;" class="responsive-table">
            <!-- TITLE -->
            <tr>
              <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 0 0 10px 0; font-size: 25px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;" class="padding" colspan="2" data-slot-container>
                <div data-slot="text">
                  Upcoming Events
                </div>
                </td>
            </tr>
            <tr>
              <td align="center" height="100%" valign="top" width="100%" colspan="2" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <!--[if (gte mso 9)|(IE)]>
                  <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                    <tr>
                      <td align="center" valign="top" width="500">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:500;">
                  <tr>
                    <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:0;">
                      <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                          <tr>
                            <td align="left" valign="top" width="115">
                      <![endif]-->
                      <div style="display:inline-block; max-width:115px; vertical-align:top; width:100%;">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="115" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                          <tr>
                            <td valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 40px 0 0 0;" class="mobile-hide" data-slot-container>
                            <div data-slot="text">
                            <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/calendar.png', null, null, true) }}" alt="alt text here" width="105" height="105" border="0" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; font-family: Arial; color: #666666; font-size: 14px; width: 105px; height: 105px;" /></a>
                            </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                      <td align="left" valign="top" width="385">
                      <![endif]-->
                      <div style="display:inline-block; max-width:385px; vertical-align:top; width:100%;">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                          <tr>
                            <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 40px 0 0 0;" class="no-padding">
                              <!-- ARTICLE -->
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                <tr>
                                  <td align="left" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 0 0 5px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #aaaaaa;" class="padding-meta" data-slot-container>
                                    <div data-slot="text">
                                      January 1, 2016
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 0 0 5px 25px;" class="padding" data-slot-container>
                                    <div data-slot="text">
                                      <p style="font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;">Etiam tincidunt, quam ac porttitor</p>
                                      <p style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666;">Maecenas sed nulla massa. In mattis vulputate nisl, rhoncus blandit lorem maximus non. Phasellus tempus in ipsum non lacinia.</p>
                                      <div style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-radius: 3px;" >
                                        <a href="#" target="_blank" style="background-color:#256F9C;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size: 15px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 10px 20px; border: 1px solid #256F9C; display: inline-block;" class="mobile-button">Learn More </a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                    </tr>
                  </table>
                      <![endif]-->
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
                <![endif]-->
              </td>
            </tr>
           <tr>
              <td align="center" height="100%" valign="top" width="100%" colspan="2" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <!--[if (gte mso 9)|(IE)]>
                  <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                    <tr>
                      <td align="center" valign="top" width="500">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:500;">
                  <tr>
                    <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:0;">
                      <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                          <tr>
                            <td align="left" valign="top" width="115">
                      <![endif]-->
                      <div style="display:inline-block; max-width:115px; vertical-align:top; width:100%;">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="115" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                          <tr>
                            <td valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 40px 0 0 0;" class="mobile-hide" data-slot-container>
                            <div data-slot="text">
                            <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/calendar.png', null, null, true) }}" alt="alt text here" width="105" height="105" border="0" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; font-family: Arial; color: #666666; font-size: 14px; width: 105px; height: 105px;" /></a>
                            </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                      <td align="left" valign="top" width="385">
                      <![endif]-->
                      <div style="display:inline-block; max-width:385px; vertical-align:top; width:100%;">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                          <tr>
                            <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 40px 0 0 0;" class="no-padding">
                              <!-- ARTICLE -->
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                <tr>
                                  <td align="left" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 0 0 5px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #aaaaaa;" class="padding-meta" data-slot-container>
                                    <div data-slot="text">
                                      January 1, 2016
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 0 0 5px 25px;" class="padding" data-slot-container>
                                    <div data-slot="text">
                                      <p style="font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;">Etiam tincidunt, quam ac porttitor</p>
                                      <p style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666;">Maecenas sed nulla massa. In mattis vulputate nisl, rhoncus blandit lorem maximus non. Phasellus tempus in ipsum non lacinia.</p>
                                      <div style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-radius: 3px;" bgcolor="#256F9C">
                                        <a href="#" target="_blank" style="background-color:#256F9C;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size: 15px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 10px 20px; border: 1px solid #256F9C; display: inline-block;" class="mobile-button">Learn More </a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                    </tr>
                  </table>
                      <![endif]-->
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
                <![endif]-->
              </td>
            </tr>
         
            <tr>
              <td align="center" height="100%" valign="top" width="100%" colspan="2" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <!--[if (gte mso 9)|(IE)]>
                  <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                    <tr>
                      <td align="center" valign="top" width="500">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width:500;">
                  <tr>
                    <td align="center" valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:0;">
                      <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                          <tr>
                            <td align="left" valign="top" width="115">
                      <![endif]-->
                      <div style="display:inline-block; max-width:115px; vertical-align:top; width:100%;">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="115" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                          <tr>
                            <td valign="top" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 40px 0 0 0;" class="mobile-hide" data-slot-container>
                            <div data-slot="text">
                            <a href="#" target="_blank" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"><img src="{{ getAssetUrl('themes/'~template~'/img/calendar.png', null, null, true) }}" alt="alt text here" width="105" height="105" border="0" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;display: block; font-family: Arial; color: #666666; font-size: 14px; width: 105px; height: 105px;" /></a>
                            </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                      <td align="left" valign="top" width="385">
                      <![endif]-->
                      <div style="display:inline-block; max-width:385px; vertical-align:top; width:100%;">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                          <tr>
                            <td style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 40px 0 0 0;" class="no-padding">
                              <!-- ARTICLE -->
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">
                                <tr>
                                  <td align="left" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 0 0 5px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #aaaaaa;" class="padding-meta" data-slot-container>
                                    <div data-slot="text">
                                      January 1, 2016
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 0 0 5px 25px;" class="padding" data-slot-container>
                                    <div data-slot="text">
                                      <p style="font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;">Etiam tincidunt, quam ac porttitor</p>
                                      <p style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666;">Maecenas sed nulla massa. In mattis vulputate nisl, rhoncus blandit lorem maximus non. Phasellus tempus in ipsum non lacinia.</p>
                                      <div style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-radius: 3px;" bgcolor="#256F9C">
                                        <a href="#" target="_blank" style="background-color:#256F9C;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size: 15px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 10px 20px; border: 1px solid #256F9C; display: inline-block;" class="mobile-button">Learn More </a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                    </tr>
                  </table>
                      <![endif]-->
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
                <![endif]-->
              </td>
            </tr>
          </table>
        </td>
      </tr>

    </table>
    </center>
   </div>
      
  <div data-section-wrapper>
    <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;">   

      <tr>
        <td bgcolor="#ffffff" align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding: 20px 0px;">
          <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
              <tr>
                <td align="center" valign="top" width="500">
          <![endif]-->
          <!-- UNSUBSCRIBE COPY -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;max-width: 500px;" class="responsive-table">
            <tr>
              <td align="center" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;" data-slot-container>
              <div data-slot="text">
                1234 Main Street, Anywhere, MA 01234, USA
                        <br />
                        {unsubscribe_text} | {webview_text}
              </div>
              </td>
            </tr>
          </table>
          <!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
      </table>
          <![endif]-->
        </td>
      </tr>
    </table>
  </body>
</html>